.status-buy-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 70vh;
}

.status-buy-container .blurred {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
    flex-direction: column;
    border-radius: 20px;
    padding: 30px 70px;
    background: rgba(0, 0, 0, 0.3);
}

.status-buy-container h1 {
    color: var(--text);
    padding-bottom: 3%;
}

.status-buy-container .data-buy {
    color: white;
    width: 100%;
}

.status-buy-container .data-buy h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.status-buy-container .data-buy h3 span:last-child {
    font-weight: 100;
    opacity: .7;
}

.data-buy .status-buy.success {
    color: green;
}

.data-buy .status-buy.failure {
    color: red;
}

.data-buy .status-buy.pending {
    color: rgb(158, 158, 0);
}

.data-buy .id-buy {
    font-size: .8rem;
    color: #aaa;
}

.blurred .button-back {
    margin-top: 10%;
    margin-right: auto;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--fluor);
    cursor: pointer;
    font-weight: 500;
    padding: 0;
    font-size: 1rem;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    opacity: .6;
}

.blurred .button-back span:first-child {
    width: 20px;
    height: 20px;
}

.blurred .button-back:hover {
    color: white;
    column-gap: 20px;
    opacity: 1;
}

@media (max-width: 360px) {

    .status-buy-container {
        padding: 50px 0;
    }

    .status-buy-container .blurred {
        border-radius: 0;
    }
    .status-buy-container .blurred h1 {
        text-align: center;
        font-size: 1.3rem;
    }
    .status-buy-container .blurred h3 {
        flex-direction: column;
        row-gap: 10px;
        margin-bottom: 40px;
    }
    .status-buy-container .blurred h3 span {
        text-align: center;
    }
    .status-buy-container .blurred button {
        margin: 0 auto;
    }
}