.not-found-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    row-gap: 20px;
}

.not-found-container button {
    outline: none;
    border: none;
    background-color: var(--text);
    border-radius: 50px;
    color: var(--dark-text);
    padding: 15px 100px;
    margin-bottom: 20px;
    transition: .2s;
    cursor: pointer;
    font-weight: 700;
}

.not-found-container button:hover {
    box-shadow: 0px 0px 100px var(--dark-text);
    padding: 15px 130px;
}