.list-sections {
    display: flex;
    justify-content: space-between;
    padding: 0;
    column-gap: 90px;
    list-style: none;
    max-width: fit-content;
}

.list-sections li {
    color: var(--text);
    cursor: pointer;
    transition: .2s;
    opacity: .8;
    border-bottom: 1px solid transparent;

    &:hover {
        opacity: 1;
        border-color: var(--text);
    }
}

.list-sections a { 
    text-decoration: none;
    color: inherit;
}


.link-cart-responsive {
    display: none;
}

@media(max-width: 360px) {
    .link-cart-responsive {
        display: block;
        background-color: transparent;
        border: none;
    }
    .link-cart-responsive svg {
        display: block;
        color: #ccc;
        width: 25px;
        height: 25px;
    }
    .list-sections {
        display: none;
    }
}